.header-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .navigation-container {
    display: flex;
    align-items: center;
  }
  .logo {
    padding: 24px 0;
    margin-right: 93px;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item{
    
    
  }
  .navigation-list-link {
    position: relative;
    display: block;
    padding-bottom: 20px;
  }
  .current:after{
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color:$accent-color;
    border-radius: 4px;
    
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .address-container{
    margin-left:  auto;
  }
  .address-section{
  
  }
  .address-item + .address-item {
    margin-left: 30px;
  }
  .header-address-list {
    display: flex;
  }
  .address-item {
    margin-left: auto;
  }
  
  .logo-header {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  
    color: $title-text-color;
  }
  .logo-header:hover,
  .logo-header.focus {
    color: $accent-color;
  }
  .web {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $accent-color;
  }
  .navigation-list-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  
    color: $title-text-color;
  }
  .header-address-list{
    align-items: center;
  }
  .header-communicate-link {
    display: flex;
    align-items:center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  
    color: $primary-text-color;
  }
  .header-icon-envelope-svg{
    margin-right: 10px;
  }
  .header-icon-smartphone-svg{
    margin-right: 10px;
  }
  
  .header-icon-envelope-svg:hover{
    fill: $accent-color;
  }
  .header-icon-smartphone-svg:hover{
    fill: $accent-color;
  }
  .header-communicate-link:hover .header-icon-envelope-svg,
  .header-communicate-link:focus .header-icon-envelope-svg,
  .header-communicate-link:hover .header-icon-smartphone-svg,
  .header-communicate-link:focus .header-icon-smartphone-svg{
    fill: $accent-color;
  } 
  .navigation-list-link:hover ,
  .navigation-list-link:focus ,
  .header-communicate-link:hover,
  .header-communicate-link:focus
  {
    color: $accent-color;
  }
  .navigation-list-link.current {
    color: $accent-color;
  }